<table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
        <td width="25%" class="nav active">
            <p><strong><a href="/">Главная</a></strong></p>
        </td>
        <td width="25%" class="nav">
            <p><strong><a href="./subscribe.php">Рассылка</a></strong></p>
        </td>
        <td width="25%" class="nav">
            <p><strong><a href="./goodies.php">Товары</a></strong></p>
        </td>
        <td width="25%" class="nav">
            <p><strong><a href="./about.php">О нас</a></strong></p>
        </td>
    </tr>
</table>