@page
@model Blog.Pages.IndexModel
@{
    ViewBag.Title = "!!Блог странного вэб-дизайнера";
}


<p>!Меня зовут Евгений Попов и на данный момент, Вы находитесь на моём сайте. Что интересного Вы можете найти здесь для себя?</p>
<p>Во-первых - это различные статьи, программы, скрипты, электронные книги и т.д., связанные с заработком денег через Интернет. Я делаю материалы только для тех, кто понимает, что бизнес в Интернете - это в первую очередь упорный труд и честность.</p>
<p>Во-вторых - это интересная информация из личного дневника, где я выкладываю отчеты о различных встречах, семинарах, в которых я участвую и как тренер и как ученик, а также просто различные материалы, которые будут полезны Вам в плане улучшения эффективности собственного бизнеса.</p>
<p>Ниже Вы можете наблюдать последние три заметки моего блога.</p>